tags*
vendor/bundle
.sass-cache
.spotify
spotify_tracefile.txt
keys/*
config.yml
metadata.yml
nohup.out
.cache
*.swp
*.log
.DS_Store
coverage
*.db
*.key
frontend/node_modules
frontend/dist
typings
public/assets
