// Roboto Font from Google
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body {
  font-family: 'Roboto', sans-serif;
}

h3 a {
  color: #3016b0;
}

#user_list {
  list-style-type: none;
  padding: 0px;
  display: table;
}

a {
  text-decoration: none;
}

#user_list li {
  padding: 2px 10px;
  margin: 1px 0;
  color: #9999FF;
  font-weight: 100;
  cursor: pointer;
}

#user_list li.enabled {
  background: #3016b0;
  border-radius: 5px;
}

#current_track_container {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

#album_art {
  height: 150px;
  width: 150px;
}

#spotify_text {
  vertical-align: top;
  font-size: 20pt;
}

#artist {
  font-size: 16pt;
}

#added_by {
  font-size: 10pt;
}
