
// Roboto Font from Google                                       
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

.enabled {
  font-weight: bold;
} 

body {
  font-family: 'Roboto', sans-serif;
}

h3 a {
  color: #497220;
}

a {
  display: inline-block;
  padding: 2px 10px;
  margin: 1px 0;
}

a.enabled {
  background: #497220;
  color: #e0ddb4;
  border-radius: 5px;
  font-weight: 100;
}

a.disabled {
  color: #e0ddb4;
}

#spotify_wrapper {
  position: absolute;
  bottom: 5px;
}

#album_art {
  height: 150px;
  width: 150px;
}

#spotify_text {
  vertical-align: top;
  font-size: 20pt;
}

#artist {
  font-size: 16pt;
}

#added_by {
  font-size: 10pt;
}
