
// Roboto Font from Google                                       
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

.enabled {
  font-weight: bold;
} 

body {
  font-family: 'Roboto', sans-serif;
}

a {
  display: inline-block;
  padding: 4px 10px;
  text-decoration: none;
}
a.enabled {
  background: #666;
  color: #FFF;
  border-radius: 5px;
  font-weight: 100;
}
a.disabled {
  color: #666;
}

#spotify_wrapper {
  position: absolute;
  bottom: 5px;
}

#album_art {
  height: 150px;
  width: 150px;
}

#spotify_text {
  vertical-align: top;
  font-size: 20pt;
}

#artist {
  font-size: 16pt;
}

#added_by {
  font-size: 10pt;
}
