%h3
  %a{:href => locals[:playlist_url]}
    Playlist URL
- locals[:users].each do |user|
  - enabled_or_disabled = user[:enabled_flag] == false ? 'disabled' : 'enabled'
  - to_enable_or_disable = user[:enabled_flag] == true ? 'disable' : 'enable'
  %a{:href => "/#{to_enable_or_disable}/#{user[:user_name]}", :class => "#{enabled_or_disabled}"}
    =user[:display_name]
  %br

#spotify_wrapper
  #art{:style => "display: inline"}
  #spotify_text{:style => "display: inline-block"}
    #title
    #artist
    #added_by

:javascript
  $(document).ready(function(){
    var trackHandler = WebSocket ? currentTrackWebSocket() : currentTrackPoller();
    trackHandler.initialize()
  });
