%h3
  %a{:href => locals[:playlist_url]}
    Playlist URL
%ul#user_list
  - locals[:users].each do |user|
    %li{:id => user[:user_name], :class => if user[:enabled_flag] then 'enabled' end}
      =user[:display_name]

#spotify_wrapper
  #art{:style => "display: inline"}
  #spotify_text{:style => "display: inline-block"}
    #title
    #artist
    #added_by

:javascript
  $(document).ready(function(){
    var trackHandler = WebSocket ? currentTrackWebSocket() : currentTrackPoller();
    trackHandler.initialize()

    $('#user_list li').on('click', function(e) {
      var isEnabled = $(e.target).hasClass('enabled');
      $.ajax({
        url: (isEnabled ? 'disable/' : 'enable/') + e.target.id,
        type: 'POST'
      });
      if (!WebSocket) location.reload();
    });
  });
