.pure-g
  .pure-u-1-2
    %ul.users.entity-list
      - locals[:users].each do |user|
        %li.user{ :id => "user_#{user.id}" }
          .name= user.name
          %ul.playlists.entity-list
            - locals[:playlists][user.id].each do |playlist|
              %li.playlist{ :id => playlist.id, :class => if playlist.enabled? then 'active' end }
                %label.name.transformed.transform-extrude
                  %span.content= playlist.name
                  %span.right.side
                  %span.bottom.side

    %button.add-playlist.transformed.transform-extrude#add_playlist_button
      %span.content + Playlist
      %span.right.side
      %span.bottom.side

  .pure-u-1-2
    .now-playing#track-data
      .album-artist#artist
      .album-title#title
      .album-art#art
      .playlist-user#user-data
        .user-avatar#avatar
        .user-name#name


%form#dialog_form{:action => 'add_playlist', :method => 'POST'}
  %fieldset
    %label{:for => 'playlist_url'} Playlist URL:
    %input#playlist_url{:required => 'required', :type => 'url', :name => 'playlist_url'}

#dialog_confirm
  %span Are you sure you want to remove this playlist?

:javascript
  $(document).ready(function(){
    var trackHandler = WebSocket ? currentTrackWebSocket() : currentTrackPoller();
    trackHandler.initialize();

    $('li.playlist').on('click', function(e) {
      e.preventDefault();
      var isEnabled = $(this).hasClass('active');
      $.ajax({
        url: (isEnabled? 'disable_playlist/' : 'enable_playlist/') + $(this).attr('id'),
        type: 'POST'
      });
    });

    $('#dialog_form').dialog({
      autoOpen:  false,
      height:    300,
      width:     350,
      resizable: false,
      modal:     true,
      buttons: {
        ok: function() {
          this.submit();
        },
        cancel: function() {
          $(this).dialog('close');
        }
      }
    });

    $('#dialog_confirm').dialog({
      autoOpen:  false,
      resizable: false,
      height:    200,
      modal:     true,
      draggable: false,
      buttons: {
        YOLO: function() {
          $(this).dialog('close');
        },
        'Abort!': function() {
          $(this).dialog('close');
        }
      }
    });

    $('#add_playlist_button').on('click', function() { $('#dialog_form').dialog('open'); });
  });
