%ul#users
  - locals[:users].each do |user|
    %li{:id => user.id, :class => if user.enabled? then 'enabled' end}
      %img{:src => user.image_url}
      = user.name

#current_track_container
  #art{:style => 'display: inline'}
  #track_info{:style => 'display: inline-block'}
    #title
    #artist
    #user

%a#add_playlist Add Playlist

%form#dialog_form{:action => 'add_playlist', :method => 'POST'}
  %fieldset
    %label{:for => 'playlist_url'} Playlist URL:
    %input#playlist_url{:required => 'required', :type => 'url', :name => 'playlist_url'}

#dialog_confirm
  %span Are you sure you want to remove this playlist?

:javascript
  $(document).ready(function(){
    var trackHandler = WebSocket ? currentTrackWebSocket() : currentTrackPoller();
    trackHandler.initialize();

    $('#users li').on('click', function(e) {
      var isEnabled = $(e.target).hasClass('enabled');
      $.ajax({
        url: (isEnabled ? 'disable_user/' : 'enable_user/') + e.target.id,
        type: 'POST'
      });
      if (!WebSocket) location.reload();
    });

    $('#dialog_form').dialog({
      autoOpen:  false,
      height:    300,
      width:     350,
      resizable: false,
      modal:     true,
      buttons: {
        ok: function() {
          this.submit();
        },
        cancel: function() {
          $(this).dialog('close');
        }
      }
    });

    $('#dialog_confirm').dialog({
      autoOpen:  false,
      resizable: false,
      height:    200,
      modal:     true,
      draggable: false,
      buttons: {
        YOLO: function() {
          $(this).dialog('close');
        },
        'Abort!': function() {
          $(this).dialog('close');
        }
      }
    });

    $('#add_playlist').on('click', function() { $('#dialog_form').dialog('open'); });
  });
