%h3
  %a{:href => @playlist_url}
    Playlist URL
- @users_for_view.each_key do |user|
- enabled_or_disabled = @users_for_view[user] == false ? 'disabled' : 'enabled'
- to_enable_or_disable = @users_for_view[user] == true ? 'disable' : 'enable'
  %a{:href => "/#{to_enable_or_disable}/#{user}", :class => "#{enabled_or_disabled}"}
    = @user_mapping[user.to_s]
  %br

#spotify_wrapper
  #art{:style => "display: inline"}
  #spotify_text{:style => "display: inline-block"}
    #title
    #artist
    #added_by

:javascript
  $(document).ready(function(){
    currentTrackPoller().initialize();
  });
