%ul.users.entity-list
  - locals[:users].each do |user|
    %li.user{:id => user.id, :class => if user.enabled? then 'enabled' end}
      .name= user.name
      %ul.playlists.entity-list
        - locals[:playlists][user.id].each do |playlist|
          %li.playlist{ :id => playlist.id, :class => if playlist.enabled? then 'active' end }
            %label.name.transformed.transform-extrude
              %span.content= playlist.name
              %span.right.side
              %span.bottom.side

#current_track_container
  #art{:style => 'display: inline'}
  #track_info{:style => 'display: inline-block'}
    #title
    #artist
    #user

%a#add_playlist Add Playlist

%form#dialog_form{:action => 'add_playlist', :method => 'POST'}
  %fieldset
    %label{:for => 'playlist_url'} Playlist URL:
    %input#playlist_url{:required => 'required', :type => 'url', :name => 'playlist_url'}

#dialog_confirm
  %span Are you sure you want to remove this playlist?

:javascript
  $(document).ready(function(){
    var trackHandler = WebSocket ? currentTrackWebSocket() : currentTrackPoller();
    trackHandler.initialize();

    $('li.playlist').on('click', function(e) {
      e.preventDefault();
      var isEnabled = $(this).hasClass('active');
      $.ajax({
        url: (isEnabled? 'disable_playlist/' : 'enable_playlist/') + $(this).attr('id'),
        type: 'POST'
      });
    });

    $('#dialog_form').dialog({
      autoOpen:  false,
      height:    300,
      width:     350,
      resizable: false,
      modal:     true,
      buttons: {
        ok: function() {
          this.submit();
        },
        cancel: function() {
          $(this).dialog('close');
        }
      }
    });

    $('#dialog_confirm').dialog({
      autoOpen:  false,
      resizable: false,
      height:    200,
      modal:     true,
      draggable: false,
      buttons: {
        YOLO: function() {
          $(this).dialog('close');
        },
        'Abort!': function() {
          $(this).dialog('close');
        }
      }
    });

    $('#add_playlist').on('click', function() { $('#dialog_form').dialog('open'); });
  });
